@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
margin: 0px;
padding: 0px;
font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

nav {
    height: 80px;
}

nav h1 {
    float: left;
    line-height: 80px;
    font-size: 24px;
    color: #f9faf8;

}

.top-bar {
    background-color: #1f2937;
}

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 5px;
}

nav ul li a {
    color: #fff;
    

}

.hero-h1 {
    color: #f9faf8;
    font-size: 48px;
}

.hero-p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    border-radius: 15px;
   
}

button a {
    text-decoration: none;
    color: #fff;
    font
}

.girl-pic {
    width: 400px;
}

.hero {
    display: flex;
    padding: 50px;
}

.hero-section {
    padding: 35px;

}

.boys-playing img {
    width: 200px;
    margin: 20px;
    border-radius: 15px;
}

.boys-playing {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

figure {
    margin: 10px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-2 h1 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#quote {
    height:300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    background-color: #e5e7eb;
    justify-content: center;
}

blockquote {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#quote blockquote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: 1F2937;
    font-weight: lighter;
    width: 70%;
    justify-content: center;
    
}

#quote figcaption {
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 20%;
}

#call-to-action {
    background-color: #3882f6;
    margin: 10%;
    
}